<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Hello, {$$Fetched}</h1>
    <!-- $$ Indicates server side rendering -->
    <button class="bg-green-500 text-white" @click="HandleClick()">
      <!-- @handler calls function -->
      The count is {Count}
      <!-- Template updates on signal rerender -->
    </button>
  </body>
</html>
