<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1 class="text-green-500">Hello, {$$fetched}</h1>
    <!-- $$ Indicates server side rendering -->
    <button @click="handleClick()">
      <!-- @handler calls function -->
      The count is {count}
      <!-- Template updates on signal rerender -->
    </button>
  </body>
</html>
